<footer>
	<p>Todos os direitos reservados</p>
	<p>Avenida Paulista, 1. São Paulo - SP</p>
</footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/validacao.js"></script>
